@font-face {
    font-family: "h";
    src: url("media/iosevka.ttf") format("embedded-opentype"),
        url("media/iosevka.ttf") format("woff2"),
        url("media/iosevka.ttf") format("woff"),
        url("media/iosevka.ttf") format("truetype"),
        url("media/iosevka.ttf") format("svg");
}

body {
    font-family: h, monospace;
    background-color: black;
    color: white;
    font-size: 150%;
    
}
/*lol i moved all of b to body lolllll lmaooooo*/
.b { 
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    box-sizing:content-box;
    flex-shrink: 1;
}
.reverse{flex-direction: row-reverse;}
.column{  display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    flex:50%;
    flex-shrink: 1;
  }
button {
    font-size: 100%;
   
    border-radius: 0px;
    background-color: black;
    cursor:pointer; 
    border: none;
    padding: 0;
    font-family: h, monospace;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a {
    text-decoration: none;
}

.socials{
  flex-basis: 12%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links>div {
    flex-basis: 20%;
    padding: 0.1em, 0.25em;
}
.socials>.links>div{ 
  flex-basis: 10%;
}
.links :first-child {
    text-align: right;
}

.links :nth-child(2) {
    text-align: center;
}

.links :last-child {
    text-align: left;
}

@media (orientation:portrait) {
    .b {
        font-size: 200%;
        padding-bottom: 10%;
    }

    .links>div {
        padding: 0.75em 0.55em;
    }
}